<div class="container">
  <div class="top-bar">
    <!-- logo -->
    <a href="./" class="logo">
      <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo-img" />
      <h1 class="logo__title">grocerymart</h1>
    </a>
    <!-- navbar -->
    <div class="navbar">
      <ul class="navbar-list">
        <li>
          <a href="!#" class="navbar-link"
            >Departments
            <img src="./assets/icons/arrow-down.svg" alt="" class="nav__arrow icon" />
          </a>
        </li>
        <li>
          <a href="!#" class="navbar-link"
            >Grocery
            <img src="./assets/icons/arrow-down.svg" alt="" class="nav__arrow icon" />
          </a>
        </li>
        <li>
          <a href="!#" class="navbar-link"
            >Beauty
            <img src="./assets/icons/arrow-down.svg" alt="" class="nav__arrow icon" />
          </a>
        </li>
      </ul>
    </div>
    <!-- actions -->
    <div class="top-atc">
      <div class="top-atc__group top-atc__group-1">
        <button class="top-atc__btn">
          <img src="./assets/icons/_search.svg" alt="" class="top-act__icon icon" />
        </button>
      </div>
      <div class="top-atc__group top-atc__group-2">
        <button class="top-atc__btn">
          <img src="./assets/icons/_heart.svg" alt="" class="top-act__icon icon" />
          <span class="top-atc__title">03</span>
        </button>
  
        <div class="top-atc__separate"></div>
        <button class="top-atc__btn">
          <img src="./assets/icons/_buy.svg" alt="" class="top-act__icon icon" />
          <span class="top-atc__title">$65.42</span>
        </button>
      </div>
      <div class="top-atc__user">
          <img src="./assets/img/avatar.jpg" alt="" class="top-atc__avatar ">
      </div>
    </div>
  </div>
  
</div>