html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(7%) sepia(52%)
        saturate(783%) hue-rotate(210deg) brightness(97%) contrast(96%);
    --header-bg-color: #eee;
    --top-atc-group-color: #fff;
    --top-act-group-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
    --top-act-group-separated: #ededf6;
}
